[Jira]
username=
password=
; Comma separated names of of fields in API that should be searched for Economic project ID
economic_field=
; Feel free to improve search query to match your needs.
search_query=assignee=currentUser() and status in ("In Progress") and Sprint in openSprints()
; API endpoint, eg. https://jira.example.com/rest/api/2/
api_url=
; Whether to use work reported in JIRA or not when saving task in economic.
; This works only for inserts - no update possible at the moment.
use_worklog=0
; Default activity. Will be used for all JIRA tasks.
default_activity_id=

[Economic]
; Agreement number, should be same for all employees
agreement=
username=
password=
; Default project. Will be used when project ID is not found in JIRA or Google Calendar.
default_project_id=

[Google]
;Credentials to fill in below can be obtained from Google Developer Console:
;at https://console.developers.google.com/
client_secret=
client_id=
;Comma separated list of event names to ignore.
ignore_events=
;Project and activity ID patterns; will be used to search for these in description
project_id_pattern=#economic[^0-9]+([0-9]+)
activity_id_pattern=#activity[^0-9]+([0-9]+)
;Default activity id to be used when none is found in description using patterns above.
default_activity_id=